<nav class="bg-gray-900 text-white p-4 flex justify-between fixed w-full top-0 shadow-lg z-50">
  <a class="text-xl font-bold cursor-pointer" (click)="navigateTo('')">Priyanka Giri</a>
  <div class="flex space-x-4">
    <a class="px-3 hover:text-gray-400 cursor-pointer" (click)="navigateTo('about')">About</a>
    <a class="px-3 hover:text-gray-400 cursor-pointer" (click)="navigateTo('experience')">Experience</a>
    <a class="px-3 hover:text-gray-400 cursor-pointer" (click)="navigateTo('projects')">Projects</a>
    <a class="px-3 hover:text-gray-400 cursor-pointer" (click)="navigateTo('skills')">Skills</a>
    <a class="px-3 hover:text-gray-400 cursor-pointer" (click)="navigateTo('education')">Education</a>
    <a class="px-3 hover:text-gray-400 cursor-pointer" (click)="navigateTo('certifications')">Certifications</a>
    <a class="px-3 hover:text-gray-400 cursor-pointer" (click)="navigateTo('contact')">Contact</a>
  </div>
</nav>
